*{
margin: 0;
font-family: Arial;
border: border-box;
}
body{
    background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,1) 3%, rgba(74,13,124,1) 0%, rgba(31,9,121,1) 1%, rgba(0,212,255,0.3254551820728291) 53%, rgba(0,212,255,0.3254551820728291) 80%, rgba(0,212,255,0.3254551820728291) 92%);
}          /* made this bg color using linear linearGradient */

/* navbar-------------------------------------------------------------------------------------- */
.navbar{
    height: 60px;
    background-color:#0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height:50px;
    width: 130px;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    padding: 10px;
    border: 2px solid white; 
}
/* box1 */
.amazon-logo{
    background-image: url("image/amazon_logo.png");
    background-size: cover;
    height:40px;
    width: 80%;
    margin-top: 2px;
}
.nav-logo .amazon-logo{
    border: 2px solid transparent;
}
.nav-logo .amazon-logo:hover{
     
    border: 2px solid white; 
}
/* box2 */
.add-icon{
    display: flex;   
}
.add-first{
    font-size: 0.70rem;
    color: #CCCCCC;
    margin-left: 12px;
}
.add-second{
    font-size: 0.95rem;
    font-weight: 700; 
}
/* box3 */
.nav-search{
    height: 40px;
    width: 720px;
    display: flex;   /* flex bring all content in same line  */
    justify-content: space-evenly;
}
.nav-search:hover{
    border:4px solid #febd68;
    border-radius: 8px;
}
.search-select{
    width: 55px;
    text-align: center;
    font-size: 1rem;
    background-color: #E6E6E6;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;  /* giving curved edges to select */
    border: none;          /* removing by default border of select */
}
.search-input{
    Height: 38px;
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    height: 40px;
    width: 50px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #febd68;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
}
/* box4 */
.USA-flag{
    background-image: url("image/USA_flag.jpg");
    background-size: cover;
    height: 18px;
    width: 25px;
    display: flex;
}
.nav-country-language{
    display: flex;
    background-color: #0f1111;
}
.select-language{
    background-color: #0f1111;
    color: white;
    font-weight: 600;
    border: none;
}
/* box5 */
.your-account{
    font-size: 0.95rem;
    font-weight: 700;
}
.Hello-signIn{
    font-size: 0.70rem;
    border: none;
}
.select-SignIn{
    background-color: #0f1111;
    color: white;
    border: none;
}
.sign-in{
    display: flex;
}
/* box6 */
.return{
    font-size: 0.70rem;
}
.order{
    font-size: 0.95rem;
    font-weight: 700;
}
/* box7 */
.nav_cart{
    display: flex;
    font-size: 0.95rem;
    font-weight: 700
}
.nav_cart i{
    font-size: 28px;
}
.cart{
    margin-top: 12px;
}

/* panel--------------------------------------------------------------------------------------- */
.panel{
    display: flex;
    color: white;
    height: 39px;
    background-color: #222f3d;
    justify-content: space-evenly;
    align-items: center;
}
.panel-menu{
    font-size: 0.90rem;
    font-weight: 700;
}
.panel-options{
    width: 80%;
}
.panel-options p{
    display: inline;
    margin-left: 10px;
    font-size: 0.95rem;
}
.panel-deals{
    font-weight: 700;
}

/* hero section ------------------------------------------------------------------------------- */
.hero-section{
    background-image:url("image/hero_image3.jpg");
    background-size: cover;
    height: 350px; 
    display: flex;
    justify-content: center;
    align-items: flex-end; 
} 
.hero-msg{
    height: 40px;
    width: 95%;
    background-color: white;
    font-size: 0.95rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.hero-msg a{
    text-decoration: none;
    color: #007185;
}

/* all products-------------------------------------------------------------------------------- */
.product .container{
    padding: 0 20px;  /* top-bottom=0 ,left-right=20 */
}

.product .container .innerwrapper{
    padding: 20px 0;
}

.product .container .innerwrapper .rowbox{
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
   
}
.product .container .innerwrapper .rowbox .row{
    width: 29%;
    padding: 25px;
    background-color: white;
}
.product .container .innerwrapper .rowbox .row img{
    height: 300px;
    width: 100%;
}
.product .container .innerwrapper .rowbox .row h1{
    margin-bottom: 10px;
}
.product .container .innerwrapper .rowbox .row a{
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
}


.best-sellers .container{
    padding: 0 20px;  /* top-bottom=0 ,left-right=20 */
    margin-top: 20px;
}

.best-sellers .container .innerwrapper{
    padding: 20px 0;
    background-color: white;
}
.swiper-wrapper{
    display: flex;
    justify-content: space-between;
    padding-left: 38px;
}
.best-sellers .swiper-wrapper .swiper-slide{
    width: 10%;
}
.best-sellers .container .innerwrapper h1{
    margin-bottom: 12px;
    padding-left: 38px;
}

/* sign-in/new customer------------------------------------------------------------------------ */
.blank-space{
    height: 30px;
    width: 100%;
    border-bottom: 2px solid #ddd;
    background-color: white;
}
.sign-in-button{
    color: black;
    background-color: white;
    display: block;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    border-bottom: 2px solid #ddd;
}
.sign-in-button button{
    height: 30px;
    width: 230px;
    font-weight: 700;
    background: rgb(225,253,29);
    background: linear-gradient(180deg, rgba(225,253,29,0.7988445378151261) 0%, rgba(248,253,29,0.09296218487394958) 18%, rgba(241,253,29,0.9473039215686274) 100%);
    border-radius: 4px;
    border-color: #ff9900;
    margin: 08px 0;
}
.below-sign-in{
    font-size: 0.70rem;
}
.above-sign-in{
    font-size: 0.85rem;
}
.sign-in-button a{
    color: #007185;
    text-decoration: none;
}
/* footer-section------------------------------------------------------------------------------ */
.footer-1{
    height: 45px;
    width: 100%;
    font-size: 13px;
    color: white;
    background-color: #37475a;
    text-align: center;
}
.footer-1 p{
    color: white;
    text-decoration: none;
    padding: 16px 0;
}
.footer-2{
    height: 280px;
    width: 100%;
    background-color:  #222f3d;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    border-bottom: 2px solid #ddd;
}
ul a{
    display: block;
}
.footer-2 p{
    color: white;
    font-weight: 700;
}
.footer-2 a{
    font-size: .85rem;
    color: #dddddd;
    text-decoration: none;
    margin-top: 10px;
}
.footer-2 a:hover{
    text-decoration: underline white;
}
.footer-3{
    background-color:  #222f3d;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer-3 img{
    height:30px;
    width: 80px;
    
}
.footer3-buttons{
    margin-left: 60px;
    display: flex;
    align-items: center;
}
.footer3-buttons button{
    height: 30px;
    width: fit-content;
    color: white;
    border: 2px solid white;
    border-radius: 3px;
    background-color: #222f3d;
    margin-right: 6px;
}
.footer3-buttons img{
    height: 10px;
    width: 15px;
}
.footer-4{
    height: 100px;
    width: 100%;
    background-color: #131A22;
    text-align: center;
    justify-content: center;
    padding-top: 50px;
}
.footer-4 .footer-privacy a{
    color: white;
    text-decoration: none;
    font-size: .90rem;
}
.footer-4 .footer-copyrigth{
    color: white;
    font-size: .80rem;
    display: flex;
    justify-content: center;
}

 